@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Pacifico&family=Playfair+Display&family=Raleway&family=Staatliches&display=swap');

:root {
    --corDeTitulos: #ffffff;
}

body {
    background-color: #232323;
    color: #c9c9c9;
    text-align: center;
}

h1 {
    color: var(--corDeTitulos);
    font-weight: bolder;
    font-size: 3em;
    text-decoration: underline;
}

h2 {
    color: var(--corDeTitulos);
    font-weight: bold;
    font-size: 2em;
}

.Serifa {
    font-family: 'Playfair Display', serif;
}

.SemSerifa {
    font-family: 'Raleway', sans-serif;
}

.Artistica {
    font-family: 'Staatliches', display, sans-serif;
}

.Cursiva {   
    font-family: 'Pacifico', cursive, sans-serif;
}

.Monoespacada {
    font-family: 'Nanum Gothic Coding', monospace;
}